// TIPOGRAFIAS

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Arvo', serif;
$font-family-terciary: 'Roboto', sans-serif;

:root {
    --scroll: 0;
}

.text-montserrat {
    font-family: $font-family-primary;
}
.text-montserrat-SC {
    font-family: $font-family-primary;
    font-variant: small-caps;
}

.text-arvo {
    font-family: $font-family-secondary;
}

.text-roboto {
    font-family: $font-family-terciary;
}


// COLORES

$primary: #6A6A6A;
$secondary: #F37A21; 
$success: #F9F9F9;
$info: #C4C4C4;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info
);

.dark-grey {
    color: $primary;
}

.orange {
    color: $secondary;
}

.light-grey {
    color: $success;
}

.medium-grey {
    color: $info;
}

.white {
    color: white;
}

.black {
    color: black;
}

.bg-mdgray {
    background-color: $success;
}

.bg-orange {
    background-color: $secondary;
}

.vh-50 {
    height: 50vh;
}

.hero-background {
    background-image: url(images/bg_home.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#main-logo {
    width: 400;
    animation: navbarBrand .1s linear forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -4s);
    transition: all .25s;
}

@keyframes navbarBrand {
    to {
        width: 200;
        // padding-top: 0;
}}

.navbar {
    padding: 1.5rem;
    font-size: 1rem;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: transparent;
    animation: fixedNavbar .1s linear forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -4s);
    transition: all .5s;
}

@keyframes fixedNavbar {
    to {
        background: $info;
        opacity: .9;
        font-size: .8rem;
        // height: 60px;
        padding: .8rem;
}}

.nav-link {
    color: $success;
    transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover {
    color: $secondary !important;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-nav > li > a {
    cursor: pointer;
    width: fit-content;
    position: relative;
    display: block;
    bottom: 0;
    left: 0;
}

.navbar-nav > li > a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 10px;
    left: 0;
    background-color: $secondary;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.navbar-nav > li > a:hover:before{
    opacity: 1;
    transform: scaleX(.9);
}

ul {
    list-style: none;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    overflow: hidden;
    background-color: #C4C4C4;
    transition: all 0.3s ease-in-out 0s;
    text-align: start;
    z-index: 1000;
    width: 24rem;
}

.dropdown-link {
    position: relative;
    top: 0;
    left: 0;
}

.dropdown-link:hover > .submenu {
    display: block;
    transition: all 0.3s ease-in-out 0s;
}

.dropdown-link > svg {
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
}

.dropdown-link:hover > svg {
    color: $secondary;
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out 0s;
}

.dropdown-link:hover > a {
    color: $secondary;
}

.submenu:hover {
    display: block;
}

.dropdown-item {
    clear: both;
    width: 100%;
    transition: all 0.3s ease-in-out 0s;
}

.dropdown-item:hover {
    color: $secondary;
}

.hero-tittle {
    top: 40%;
}

.hero-tittle > h5 {
    // text-shadow: 1px 2px 2px #0000009e;
    line-height: 1.5;
}

.hero-cta {
    bottom: 20%;
}

.hero-cta > a > p {
    letter-spacing: 3px;
    text-decoration: none;
}

.hero-cta> a > svg {
    animation: hero-cta 1.3s linear infinite alternate forwards;
}

@keyframes hero-cta {
    to {
        transform: scale3d(1.3, 1.2, 1.3);
    }
}

.hero-cta> a > svg, 
.hero-cta > a > svg > g > path,
.hero-cta > a > p {
    transition: all 0.3s ease-in-out 0s;
}   

.hero-cta:hover > a > p {
    color: $secondary;
}

#quienesSomos > div {
    width: 75%;
}

.items-qs-first, .items-qs-second, .items-qs-third {
    animation: slide-items;
    animation-duration: .3s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

.items-qs-first {
    animation-delay: calc(var(--scroll) * -1.5s);
}

.items-qs-second {
    animation-delay: calc(var(--scroll) * -1.4s);
}

.items-qs-third {
    animation-delay: calc(var(--scroll) * -1.3s);
}

@keyframes slide-items {
    0% {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

#filosofia {
    background-image: url(images/bg_filosofia.png);
    height: 100%;
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;   
}

#filosofia > h1 {
    font-size: 9rem;
    top: 13%;
    text-shadow: 2px 3px 10px #00000074;
}

.texto-filosofia1 {
    width: 25%;
    background-color: rgba(255, 255, 255, 0.838);
    top: 14%;
    left: 100%;
    animation: textos-filo1 .5s ease-in-out calc(var(--scroll) * -1.5s) forwards paused;
}
@keyframes textos-filo1 {
    to {
        left: 43%;
    }
}

.texto-filosofia2 {
    background-color: rgba(255, 255, 255, 0.838);
    bottom: 10%;
    right: -50%;
    width: 30%;
    animation: textos-filo2 .5s ease-in-out calc(var(--scroll) * -1.6s) forwards paused;
}

@keyframes textos-filo2 {
    to {
        right: 15%;
    }
}

#quienesSomos > h1, .servicios > h1, .contacto {
    font-size: 7rem;   
    padding-top: 3rem;
    letter-spacing: 1rem;
    text-shadow: 2px 3px 4px #00000026;
}

.items-servicios {
    overflow-x: hidden;
}

.titulos-servicios {
    font-size: 3rem;
}

.planeamiento, .reporting, .staffing {
    background-color: $success;
}

.direccion, .procesosIT {
    background-color: white;
}

.planeamiento, .direccion, .reporting, .procesosIT, .staffing {
    height: 60vh;
    transition: all .5s ease-in-out 0s;
    opacity: 1;
    visibility: visible;
}

.card-direccion {
    text-align: end;
}

.iconos-servicios {
    width: 80px;
}

.planeamiento > div > .open-btn > svg, 
.reporting > div > .open-btn > svg,
.staffing > div > .open-btn > svg {
    transform: rotate(-90deg);
}

.direccion > div > .open-btn > svg,
.procesosIT > div > .open-btn > svg {
    transform: rotate(90deg);
}

.planeamiento > div > h4 
.reporting > div > h4,
.reporting > div > h4 {
    transition: all .7s ease-in-out 0s;
}

.open-btn {
    align-items: center;
}

.open-btn > svg {
    width: 41;
    height: 41;
}

.open-btn, 
.open-btn > p, 
.open-btn > svg > g > path {
    transition: all 0.3s ease-in-out 0s;
}

.open-btn:hover, 
.close-btn:hover {
    color: rgb(194, 83, 3);
    transition: all 0.3s ease-in-out 0s;
}

.open-btn:hover > svg > g > path,
.close-btn:hover > svg > g > path {
    fill: rgb(194, 83, 3);
    transition: all 0.3s ease-in-out 0s;
}

.open-btn > p, 
.open-btn > svg > g > path {
    transition: all .3s ease-in-out 0s;
} 

.overlay,
.overlay-3, 
.overlay-5 {
    // width: 50%;
    height: 60vh;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: $info;
}

.overlay-open {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateX(0) !important;
}
.planeamiento-open {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
}

.direccion-open {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
}

.close-btn {
    transform: rotate(90deg);
    cursor: pointer;
}

.close-btn > svg {
    width: 41;
    height: 41;
}

.overlay-2 > .close-btn, 
.overlay-4 > .close-btn {
    transform: rotate(-90deg);
    cursor: pointer;
}

.overlay-2, 
.overlay-4 {
    // width: 50%;
    height: 60vh;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: $info;
}

.titulo-overlay {
    line-height: 1;
}

#equipo {
    background-image: url(images/bg_equipo.png);
    height: 130%;
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;  
    overflow-x: hidden; 
}

#equipo > h1 {
    font-size: 7rem;
    text-shadow: 2px 3px 10px #00000074;   
}

.texto-equipo, .texto-equipo1, .texto-equipo2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.838);
    width: 30%;
    opacity: 0;
}

.texto-equipo {
    bottom: 28%;
    left: -20%;
    animation: textos-equipo .5s ease-in-out calc(var(--scroll) * -0.5s) forwards paused;
}

.texto-equipo1 {
    bottom: 25%;
    left: -10%;
    animation: textos-equipo1 .5s ease-in-out calc(var(--scroll) * -0.5s) forwards paused;
}
.texto-equipo2 {
    bottom: 20%;
    left: 0%;
    animation: textos-equipo2 .5s ease-in-out calc(var(--scroll) * -0.5s) forwards paused;
}

@keyframes textos-equipo {
    to {
        left: 6%;
        opacity: 1;
    }
}

@keyframes textos-equipo1 {
    to {
        left: 42%;
        opacity: 1;
    }
}
@keyframes textos-equipo2 {
    to {
        left: 78%;
        opacity: 1;
    }
}

#contacto {
    overflow-x: hidden;
}

#contacto > div > div,
.formulario {
    width: 40%;
}

.formulario > input, textarea, 
.formulario > button {
    margin: .5rem 0rem;
    border: none;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out 0s;
}

.formulario > button {
    width: fit-content;
}

.formulario > button:hover {
    background-color: $primary;
    color: $success;
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: 2px 11px 35px -12px #000;
    transition: all 0.3s ease-in-out 0s;   
}

a {
    transition: all 0.3s ease-in-out 0s;
}

a:hover {
    color: $secondary;
    transition: all 0.3s ease-in-out 0s;
}

#footer {
    background-image: url(images/bg_footer.png);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;     
}

#footer >div {
    width: fit-content;
}

.logo-footer {
    width: 160;
}

// MOBILE ------------------------------------------

@media only screen and (max-width: 992px) {
    
    #main-logo {
        width: 250;
        animation: none;
        padding-top: 1.5rem;
    }      
    
    .navbar {
        padding: 0;
        animation: none;
    }

    .hero-background {
        background: rgb(106,106,106);
        background: linear-gradient(0deg, rgba(106,106,106,1) 0%, rgba(255,255,255,1) 100%);
    }

    .hero-tittle > h5 {
        // text-shadow: none;
        line-height: 1.5;
    }

    .nav-overlay {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        background-color: $primary;
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-overlay > ul {
        top: 10%;
    }

    #closeNav {
        z-index: 10000;
    }

    .submenu {
        right: 0;
        left: unset;
        text-align: end;
        width: 100vw;
    }

    .hero-tittle {
        top: 50%;
    }

    .hero-cta {
        bottom: 0;
    }

    #quienesSomos { 
        height: unset;
    }

    #quienesSomos > div {
        width: 90%;
    }

    #quienesSomos > h1, .servicios > h1, .contacto {
        font-size: 3rem;   
        padding-top: 3rem;
        letter-spacing: .5rem;
    }

    .items-qs-first, .items-qs-second, .items-qs-third {
        animation: slide-items;
        animation-duration: .2s;
        animation-play-state: paused;
        animation-fill-mode: forwards;
    }
    
    .items-qs-first {
        animation-delay: calc(var(--scroll) * -1.8s);
    }
    
    .items-qs-second {
        animation-delay: calc(var(--scroll) * -1.9s);
    }
    
    .items-qs-third {
        animation-delay: calc(var(--scroll) * -2s);
    }

    #filosofia {
        background-image: url(images/bg_filosofia_mobile.png);
        height: 110%;
    }
    
    #filosofia > h1 {
        font-size: 3rem;
        top: 8%;
        text-shadow: 2px 3px 10px #00000074;
        letter-spacing: .5rem;
    }
    
    .texto-filosofia1 {
        width: 75%;
        background-color: rgba(255, 255, 255, 0.838);
        top: 25%;
        left: 10%;
        animation: textos-filo1 1s ease-in-out calc(var(--scroll) * -1.2s) forwards paused;
    }
    @keyframes textos-filo1 {
        to {
            left: 40%;
        }
    }
    
    .texto-filosofia2 {
        background-color: rgba(255, 255, 255, 0.838);
        bottom: 10%;
        right: 10%;
        width: 75%;
        animation: textos-filo2 1s ease-in-out calc(var(--scroll) * -1.2s) forwards paused;
    }
    
    @keyframes textos-filo2 {
        to {
            right: 40%;
        }
    }

    .card-direccion {
        text-align: center;
        padding-top: 3rem;
    }

    .iconos-servicios {
        width: 65px;
    }

    .titulos-servicios {
        font-size: 3rem;
        line-height: .9;
    }

    .planeamiento, .direccion, .reporting, .procesosIT, .staffing {
        height: 80vh;
        transition: all .5s ease-in-out 0s;
    }

    .planeamiento, .reporting, .staffing {
        text-align: center;
    }

    .text-servicios {
        font-size: 1rem;
    }   

    .overlay,
    .overlay-2,
    .overlay-3,
    .overlay-4,
    .overlay-5 {
        height: 80vh;
        transition: .5s ease-in-out;
    }

    .text-servicios-mob {
        font-size: .8rem;
    }

    .open-btn > svg {
        width: 35;
        height: 35;
    }

    .close-btn > svg {
        width: 35;
        height: 35;
    }

    .titulo-overlay {
        text-align: center;
        font-size: 2.5rem;
        line-height: .9;
    }

    .textos-overlay > li{
        font-size: .9rem !important;
    }

    .close-btn {
        position: absolute;
        top: 5%;
        padding: 0;
    }

    .overlay-2 > .close-btn, 
    .overlay-4 > .close-btn {
        right: 2%;
    }

    #equipo > h1 {
        font-size: 2.5rem;
        letter-spacing: 1.5;

    }
    
    #equipo {
        background-image: url(images/bg_equipo_mobile.png);
        height: 140%;
        
    }

    .texto-equipo, .texto-equipo1, .texto-equipo2 {
        position: unset;
        opacity: 1;
        font-size: .9rem;
        width: 75%;
        margin: auto;
        animation: none;
    }

    .texto-equipo {
        margin-top: 4rem;
    }

    .texto-equipo1 {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;   
    }

    .contacto {
        font-size: 3rem;   
        padding-top: 3rem;
        letter-spacing: .3rem;
    }

    #contacto > div > div,
    .formulario {
        width: 90%;
    }

    .logo-footer {
        width: 100;
        margin-top: 2rem;
    }

    #footer >div {
        border-bottom: none !important;
    }

}

@media only screen and (max-width: 400px) {

    .texto-filosofia1 {
        font-size: .8rem;
        top: 30%;
    }

    .texto-filosofia2 {
        font-size: .8rem;
        bottom: 15%;
    }

    // #equipo {
    //     height: 140%;
    // }

    .texto-equipo, .texto-equipo1, .texto-equipo2 {
        position: unset;
        opacity: 1;
        font-size: .9rem;
        width: 85%;
        // margin: auto;
        animation: none;
    }

    .texto-equipo1 {
        margin-top: 1rem;
        margin-bottom: 1rem;   
    }

    .planeamiento, .direccion, .reporting, .procesosIT, .staffing {
        height: 100vh;
    }

    .overlay,
    .overlay-2,
    .overlay-3,
    .overlay-4,
    .overlay-5 {
        height: 100vh;
        
    }

}

@media only screen and (max-width: 321px) {

    .hero-tittle > h1 {
        margin-bottom: .8rem !important;
    }

    .hero-tittle > h5 {
        line-height: 1.2;
    }
    
    
    #filosofia {
        height: 120%;
    }

    #filosofia > h1, 
    .servicios > h1, .contacto {
        font-size: 2.5rem;
        letter-spacing: 1.5;
    }

    .texto-filosofia1 {
        top: 25%;
    }

    .texto-filosofia2 {
        bottom: 10%;
    }

    #equipo {
        height: 150%;
    }

}

@media only screen and (min-width: 1400px) {
    .texto-filosofia1 {
        top: 20%;
    }

    .texto-filosofia2 {
        bottom: 15%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    
    #main-logo {
        animation: none;
    }
    
    .navbar {
        padding: 0;
        animation: none;
    }
    
    #quienesSomos > h1, #filosofia > h1, .servicios > h1, #equipo > h1, .contacto {
        font-size: 5rem;
    }

    .items-qs {
        width: 80%;
    }

    #filosofia {
        height: 100vh;
    }
    
    .texto-filosofia1 {
        width: 80%;
        top: 35%;
        left: 6%;
    }

    .texto-filosofia2 {
        width: 80%;
        right: 3%;
        bottom: 15%;
    }

    .titulo-overlay {
        font-size: 4rem;
    }

    .overlay > .close-btn,
    .overlay-3 > .close-btn,
    .overlay-5 > .close-btn {
        left: -1%;
    }

    #equipo {
        height: 155%;
    }

    .texto-equipo, .texto-equipo1, .texto-equipo2 {
        position: unset;
        opacity: 1;
        font-size: 1rem;
        width: 75%;
        margin: auto;
        animation: none;
    }

    .texto-equipo {
        margin-top: 4rem;
    }

    .texto-equipo1 {
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        
    }

}

@media (min-width: 993px) and (max-width: 1079px) { 
    #filosofia > h1 {
        font-size: 7rem;
        top: 18%;    
    }

    .texto-filosofia1 {
        width: 30%;
    }

    .texto-filosofia2 {
        width: 40%;
        right: -120%;
    }

    .planeamiento, .direccion, .reporting, .procesosIT, .staffing {
        height: 70vh;
    }

    .overlay, .overlay-2, .overlay-3, .overlay-4, .overlay-5 {
        height: 70vh;
    }
}

